body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Chivo Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Chivo Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}